.home-carousel-container .carousel-caption {
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  width: 50%;
  height: fit-content;
} 

.carousel-inner{
width: 100%;
height: 100%;
}

.navbar{
  margin-left: 2%;
  margin-right: 2%;
  font-size: larger;
}

.navbar .nav-link{
  font-size: 17px;
}

.navbar .nav-link:hover{
  opacity: .7;
}

.login-status-div{
  display: flex;
  flex: .4;
  font-size: 17px;
  height: 100%;
  text-align: right;
}

.login-status-text{
  flex: 1;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: right;
  align-items: center;
  padding-right: 4%;
}

.login-status-button{
  flex: 1;
  height: 100%;
}

.book-btn{
  border-radius: 18px !important;
  opacity: .7;
  width:100%;
}

.navbar .btn-outline-primary{
  font-size: 17px;
  /* border-color: rgba(4, 169, 251, 0.941); 
  color: rgba(4, 169, 251, 0.941); ; */
}

/* .navbar .btn-outline-primary:hover{
  background-color: rgba(4, 169, 251, 0.941);
} */

.card-text {
  color: black;
}

.card{
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.card a{
  text-decoration: none;
}

.paragraph_image {
  width: 100%;
}

.paragraph_and_picture {
  padding-top: 1%;
}

.modal-header{
  background-color: rgba(0,0,0,.2);
}

.modalData{
  position: relative;
  display: flex;
  justify-content: center;
  align-Items: center;
  background: rgb(0,0,0,.2);
  height: 650px;
}

.modal-width-control{
  min-width: 75%;
}

.trip-details-content{
  display: grid;
  grid-template-columns: 65% 30%;
  
}

.column{
  margin: 0 auto;
  padding: 15px;
  position: relative;
  width: 100%;
}

.itineraryDiv{
  width: 100%;
  border: 2px solid rgba(4, 169, 251, 0.941);
  border-radius: 15px;
  padding: 15px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  margin-top: 20px;
}

.fixed-sidebar{
  position: sticky;
  top: 15px;
}

.sidebar-info{
  border: 2px solid rgba(4, 169, 251, 0.941);
  border-radius: 15px;
  padding: 15px;
}

.half-line-height{
  line-height: .5;
}

.trip-details-carousel-container :hover{
  opacity: .8;
  transition: .3s;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.overlay-carousel{
  z-index: 10;
  position: absolute;
  color: #fff;
}
